.jumbotron {
  background-color: #1B8366;
  border-radius: 0.3rem;
  margin: auto;
  height: 100vh;
  text-align: center;
  
}
  
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}
  
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

h1 {
  text-align: center;
}

.card-reveal {
  background-color: #E9AE0B;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.findOut {
  background-color: #E9AE0B;
}